{% extends 'flatpages/default.html' %}

{% block title %}
Объявления
{% endblock title %}

{% block content %}
        {% if adverts %}
            {%for adv in adverts %}
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    {{adv.advert_title}}
                                </div>
                                <div class="col-sm-6 text-end">
                                    {% if request.user in adv.advert_category.subscribers.all %}
                                        {{adv.advert_category}}   <button type="button" class="btn btn-success btn-sm" disabled>Вы подписаны</button>
                                    {% else %}
                                        {{adv.advert_category}}  <a class="btn btn-outline-success btn-sm" role="button" href="{% url 'subscribe' adv.advert_category.id %}">Подписаться</a>
                                    {% endif %}
                                </div>
                            </div>

                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{adv.advert_text|truncatewords:80|safe}}</p>
                        <p><small class="text-muted">Автор: {{adv.author}}</small></p>
                        <p></p>
                        <a class="btn btn-outline-dark btn-sm" href="{% url 'advert_detail' adv.id %}" role="button">Читать далее</a>
                        {% if adv.author_id != request.user.id %}
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'resp_create' adv.id %}" role="button">Отклик</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>Список объявлений пуст</h2>
        {% endif %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                    {% if page_obj.previous_page_number != 1 %}
                        ...
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                {% endif %}

                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    {% if paginator.num_pages != page_obj.next_page_number %}
                        ...
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>

{% endblock content %}





